.auth-layout {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  .auth-children {
    user-select: none;
    margin: 20px 0;
    .auth-logo {
      max-width: 36%;
      margin: 0 auto 20px;
      display: block;
      cursor: pointer;
    }
    .auth-heading {
      font-size: 20px;
      text-align: center;
      color: $theme-primary;
    }
    .auth-links {
      text-align: center;
      a {
        text-decoration: none;
        color: $theme-primary;
      }
    }
  }

  @include scMax(600) {
    min-height: auto;
    .auth-children {
      .auth-logo {
        max-width: 40%;
      }
    }
  }
}
