/* LAYOUT - Primary layout.
========================================================================== */
.layout {
  position: relative;
  min-height: 100vh;
  .l-children {
    padding: $navbar-padding 0 $footer-padding;
  }
}
// side links
.l-side-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-top: 100px;
  .l-sidelink {
    color: $theme-primary;
    width: 50px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 8px 0;
    margin: 5px 0;
  }
  .l-sidelink-active {
    background-color: $theme-primary;
    color: #fff;
  }
}

// Header
.header {
  .MuiAppBar-colorPrimary {
    color: #000;
  }
  .MuiPaper-elevation4 {
    box-shadow: none;
  }
  .scrolled {
    box-shadow: $box-shadow;
    background-color: #fff;
  }
  .MuiToolbar-root {
    padding: 0;
  }
  .h-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 20px;
    .h-left-contents {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .h-menu-button {
      border: none;
      outline: none;
      background-color: transparent;
      margin-right: 4px;
      display: none;
      .h-menu-icon {
        width: 22px;
        height: 22px;
        color: #000;
      }
      @include scMax(600) {
        display: inline-block;
      }
    }
    .h-logo-container {
      outline: none;
      cursor: pointer;
      user-select: none;
      .h-logo {
        max-width: 120px;
      }
    }

    .h-right-contents {
      display: flex;
      align-items: center;
      .h-links-container {
        .h-link {
          margin: 0 20px;
          padding: 8px 0px;
          text-decoration: none;
          font-weight: 400;
          color: #121c21;
          &:hover {
            color: $theme-primary;
          }
        }
        .h-link-active {
          border-bottom: 1px solid $theme-primary;
          color: $theme-primary;
        }
      }
      .h-profile {
        cursor: pointer;
        .h-photo {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          overflow: hidden;
          box-sizing: content-box;
          margin: 0 6px;
          .h-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .h-image-alt {
            background-color: #039c49;
            text-transform: uppercase;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            user-select: none;
            font-size: 18px;
            font-family: 'Inter';
            color: #fff;
            letter-spacing: 1px;
          }
        }
        &:hover {
          .h-photo {
            margin: 0;
            border: 6px solid #cacaca55;
          }
        }
      }

      @include scMax(600) {
        .h-links-container {
          display: none;
        }
      }
    }
  }

  // Header for application dashboard
  .app-header {
    border-bottom: 1px solid #f5f5f5;
  }
}

// Footer
.footer {
  position: absolute;
  height: 220px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f8f8f8;
  border-top: 1px solid #f4f4f4;
  .f-content {
    height: 158px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    .f-logo {
      max-width: 140px;
    }
    .f-social-media {
      display: flex;
      padding: 10px 0;
      .f-icon-link {
        width: 24px;
        height: 24px;
        outline: none;
        .f-icon {
          color: #bbb;
          width: 18px;
          height: 18px;
          &:hover {
            color: $theme-primary;
          }
        }
      }
    }
  }
  .f-bottom {
    height: 60px;
    background-color: #ececec;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    padding: 8px 0;
    color: #333;
    font-size: 12px;
    .f-text {
      margin: 0;
    }
    .f-text-secondary {
      margin: 0;
    }
  }

  @include scMax(960) {
    .f-content {
      flex-direction: column;
      justify-content: center;
    }
  }
}

/* APP LAYOUT - Application Layout.
========================================================================== */
.app-layout {
  position: relative;
  min-height: 100vh;
  .app-screen {
    height: 100vh;
    padding-top: 64px;
    display: flex;
  }

  @include scMax(960) {
    .app-screen {
      padding-top: 56px;
    }
  }
}
.app-menu-wrapper {
  background-color: #fdfdfd;
  border-right: 1px solid #f5f5f5;
  width: 280px;
  min-width: 280px;
  .app-menu-main {
    margin-top: 50px;
    .menu-option {
      display: flex;
      align-items: center;
      margin: 10px 14px;
      padding: 12px 18px;
      border-radius: 8px;
      cursor: pointer;
      .option-icon {
        font-size: 18px;
        color: #666;
      }
      .option-text {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        margin-left: 14px;
        color: #666;
      }
    }
    .menu-selected {
      background-color: #f3f5ff;
      .option-icon {
        color: #2f45c5;
        font-size: 20px;
      }
      .option-text {
        color: #2f45c5;
        font-weight: 400;
        margin-left: 12px;
      }
    }
  }

  @include scMax(960) {
    width: 64px;
    min-width: auto;
    .app-menu-main {
      .menu-option {
        margin: 10px;
        padding: 12px 12px;
        .option-text {
          display: none;
        }
      }
    }
  }
}
.app-children {
  flex-grow: 1;
}
