html {
  margin: 0;
}

body {
  margin: 0;
  font-family: $default-font;
}

/* MEDIA QUERIES - Primary layout.
========================================================================== */

// max screen width
@mixin scMax($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}
