html {
  margin: 0;
}

body {
  margin: 0;
  font-family: $default-font;
}

/* MEDIA QUERIES - Primary layout.
========================================================================== */

// max screen width
@mixin scMax($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}

/* LAYOUT - Primary layout.
========================================================================== */
.layout {
  position: relative;
  min-height: 100vh;
  .l-children {
    padding: $navbar-padding 0 $footer-padding;
  }
  .header {
    .MuiToolbar-root {
      padding: 0;
    }
    .h-contents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .h-logo {
        cursor: pointer;
      }
    }
  }
  .footer {
    position: absolute;
    height: 90px;
    background-color: #f0f0f0;
    border-top: 1px solid #dfdfdf;
    left: 0;
    right: 0;
    bottom: 0;
    .f-content {
      margin: 22px 0 0;
      text-align: center;
      display: block;
      .f-text {
        margin: 0;
        .f-copyright {
          font-weight: 700;
        }
      }
      .f-text-secondary {
        margin: 0;
      }
    }
  }
}
