.main-wrapper {
  p {
    margin: 0;
    padding: 4px 10px !important;
    font-size: 28px !important;
  }
}

.f1 {
  font-family: "Proxima";
  font-size: 20px;
}
.f2 {
  font-family: "Proxima Semibold";
  font-size: 20px;
}
.f3 {
  font-family: "Proxima Bold";
  font-size: 20px;
}
.f4 {
  font-family: "Proxima Italic";
  font-size: 20px;
}
.f5 {
  font-family: "Spectral Light";
  font-size: 20px;
}
.f6 {
  font-family: "Spectral";
  font-size: 20px;
}
.f7 {
  font-family: "Spectral Medium";
  font-size: 20px;
}
.f8 {
  font-family: "Spectral Semibold";
  font-size: 20px;
}
.f9 {
  font-family: "Spectral Bold";
  font-size: 20px;
}
.f10 {
  font-family: "Spectral Italic";
  font-size: 20px;
}
