/* LAYOUT - Layout variables.
========================================================================== */
$navbar-padding: 75px;
$footer-padding: 100px;

/* FONT SIZES - Theme font variables.
========================================================================== */
$head: 36px;
$head-md: 32px;
$head-sm: 26px;
$subhead: 20px;
$subhead-md: 18px;
$subhead-sm: 16px;

/* OTHER - Theme releated variables.
========================================================================== */
$border-radius: 8px;
$box-shadow: 0px 2px 5px #d0d4d9;
$mega-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 2px 15px 0 rgba(0, 0, 0, 0.5);
$gutters: 40px;
$default-font: 'Inter';
$secondary-font: 'Spectral';
