/* LAYOUT - Layout variables
========================================================================== */
$navbar-padding: 75px;
$footer-padding: 100px;

/* OTHER - Theme releated variables.
========================================================================== */
$border-radius: 8px;
$box-shadow: 0px 2px 5px #d0d4d9;
$mega-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 2px 15px 0 rgba(0, 0, 0, 0.5);
$gutters: 40px;
$default-font: 'Roboto';
$secondary-font: 'Spectral';
